/*
 * App Settings
 */

$color-primary: purple;
$color-secondary: teal;

$font-stack: 'Avenir', Helvetica, Arial, sans-serif;

/*
 * Global Styles
 */

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}

img {
  max-width: 100%;
}
